.container-1 {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.container-2 {
    margin-top: -50px;
    display: flex;
    align-content: space-between;
    flex-direction: row;
}



.item-1 {
    margin-right: 20px;
}