:root {
    --glitched-duration: 0.9s;
    --glitched-long-duration: 3s;
    --yellow-color: #f9f002;
    --yellow-color-opacity: #f9f00242;
    --orange-color: #ff9800;
    --border-color: #8ae66e;
    --red-color: #ff003c;
    --blue-color: #136377;
    --green-color: #446d44;
    --purple-color: purple;
}

.sidebar {
  width: 400px;
  height: 900px;
}

.cybr-ul {
    width: 330px;
    list-style-type: none;
    margin: 2em;
    margin-left: 0.5em;
    padding: 0;
    background-color: #f1f1f1;
    position: fixed;
    height: 800px;
    border: 30px solid #000;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    border-bottom: 15px solid #000;
    clip-path: polygon(
        0px 25px,
        26px 0px,
        calc(60% - 25px) 0px,
        60% 25px,
        100% 25px,
        100% calc(100% - 10px),
        calc(100% - 15px) calc(100% - 10px),
        calc(80% - 10px) calc(100% - 10px),
        calc(80% - 15px) calc(100% - 0px),
        10px calc(100% - 0px),
        0% calc(100% - 10px)
    );
    transition: 0.4s;
}

.cybr-ul-close {
    display: block;
}

.li-container {
    align-items: center;
    width: 330px;
    position: fixed;
}