.nothing-here {
    color: white;
}

.my-work-box {
    margin-top: 6vh;
    width: 140vh;
    height: 86.5vh;
    background-color: black;
}

.wrapper {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "grid-1 grid-2 grid-3"
    "grid-4 grid-5 grid-6"
    "grid-7 grid-8 grid-9"; 
}

.grid-is-centered:hover img {
    opacity: .7;
}

.grid-is-centered:hover .links-overlay {
    opacity: 1;
}

.grid-1 { grid-area: grid-1; }
.grid-2 { grid-area: grid-2; }
.grid-3 { grid-area: grid-3; }
.grid-4 { grid-area: grid-4; }
.grid-5 { grid-area: grid-5; }
.grid-6 { grid-area: grid-6; }
.grid-7 { grid-area: grid-7; }
.grid-8 { grid-area: grid-8; }
.grid-9 { grid-area: grid-9; }

.grid-is-centered {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.project-links-1 {
    position: absolute;
    font-size: 30px;
    margin-bottom: 40px;
}

.project-links-2 {
    position: absolute;
    font-size: 30px;
    margin-top: 40px;
}

.project-links-style {
    color: yellow;
    text-decoration: none;
    text-shadow: 3px 2px black;
}

.project-links-style:hover:after {
    animation: glitch-animation 2s infinite linear alternate-reverse;
    clip: rect( 0, 900px, 0, 0 );
    color: yellow;
    content: attr(title);
    left: -6px;
    overflow: hidden;
    position: absolute;
    text-shadow: -1px 0 red;
}

.project-links-style:hover:before {
    animation: glitch-animation-2 3s infinite linear alternate-reverse;
    clip: rect( 0, 900px, 0, 0 );
    color: yellow;
    content: attr(title);
    overflow: hidden;
    position: absolute;
    text-shadow: 1px 0 blue;
}

.links-overlay {
    opacity: 0;
}

.img-grid {
    width: 99%;
    height: 99%;
    border-style: solid;
    transition: .5s ease;
}

.img-grid:hover {
    transform: translateX()
}